@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*                      I N I C I O                    */
#carouselExampleInterval .carousel-inner {
    height: 70vh;
    width: 75%;
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: -80px;
  }
  
  #carouselExampleInterval .carousel-inner .carousel-item img {
    height: 350px;
    object-fit: contain;
    max-width: 100%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    width: 50px;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100%;
    width: 100%;
  }
  
  .aparte {
    border: solid 3px #091353;
    padding: -50px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #ebe4f4;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .principal {
    color: #091353;
    font-size: 20px;
    padding: 50px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }
  
  .masprincipal {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    margin-top: -50px;
  }
  
  .masprincipal ul {
    text-align: center;
    text-decoration: none;
  }
  
  .masprincipal ul li {
    list-style-type: none;
    display: inline-block;
    border: solid 3px transparent;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    transition: 0.4s;
  }
  
  .masprincipal ul li:hover {
    border: solid 3px #091353;
  }
  
  .masprincipal ul li a {
    text-decoration: none;
    color: #091353;
  }
  