/*                   P R O D U C T O S                   */
/*              F L E X B O X                          */
.cajas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 1000px;
  gap: 40px;
  padding: 40px;
}

.caja {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.caja:hover {
  background-color: #4c5ab0;
}

.letra :hover {
  color: white;
}

.letra h4 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.caja img {
  width: 80%;
  height: 200px;
  object-fit: cover;
}

.caja img:hover {
  width: 100%;
}

.c1 {
  width: 25%;
  height: 280px;
  border: solid;
  border-color: #9D84B7;
  border-width: 4px;
  border-radius: 5px;
}

.c2 {
  width: 25%;
  height: 280px;
  border: solid;
  border-color: #9D84B7;
  border-width: 4px;
  border-radius: 5px;
}

.c3 {
  width: 25%;
  height: 280px;
  border: solid;
  border-color: #9D84B7;
  border-width: 4px;
  border-radius: 5px;
}

.c4 {
  width: 25%;
  height: 280px;
  border: solid;
  border-color: #9D84B7;
  border-width: 4px;
  border-radius: 5px;
}

.c5 {
  width: 25%;
  height: 280px;
  border: solid;
  border-color: #9D84B7;
  border-width: 4px;
  border-radius: 5px;
}

.c6 {
  width: 25%;
  height: 280px;
  border: solid;
  border-color: #9D84B7;
  border-width: 4px;
  border-radius: 5px;
}

.c7 {
  width: 25%;
  height: 280px;
  border: solid;
  border-color: #9D84B7;
  border-width: 4px;
  border-radius: 5px;
}

/*          M I    C U E N T A                   */
.form-control {
  width: auto;
}
.box__container__cuenta{
  padding: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container__cuenta{
  padding-top: 50px;
  padding-bottom: 50px;
  color: #091353;
  border-color: #091353;
  border-style: groove;
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}