//  F O O T E R         

.footer {
    background-color: #B2F9FC;

    .container__footer {
        color: #091353;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .redes {
            font-size: 20px;
            font-family: cursive;
            padding-top: 15px;
        }
    }
}

.list-inline {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.bi {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;

  &:hover{
    //transform: rotate(360deg);
    transform: scale(1.2);
  }
}

.bi-facebook {
  color: #3b5998;
}

.bi-instagram {
  color: #d92e7f;
}

.bi-tiktok {
  color: black;
}


