@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
/* CSS */
header {
  background-color: #9D84B7;
  box-shadow: 3px 3px 3px #091353;
  color: white;
  height: 100px;
  font-weight: bold;
  padding: 0px;
}

/*               M E D I A     Q U E R I E S                   */
/*
@media (max-width: 1200px) {


}*/
@media (max-width: 768px) {
  .grillas {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}
@media (max-width: 576px) {
  .grillas {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  header {
    height: 60px;
  }
  .navegador {
    padding: 5px;
    height: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "izquierdo central central derecho";
  }
  .izquierdo {
    height: 100%;
    padding: 0px;
    align-content: center;
    margin-top: 0px;
  }
  .izquierdo ul {
    gap: 10px;
  }
  .izquierdo ul li {
    padding: 0px;
  }
  .izquierdo ul li a {
    font-size: 10px;
  }
  .central ul {
    gap: 10px;
  }
  .central ul li {
    padding: 0px;
  }
  .central ul li a {
    font-size: 10px;
  }
  .derecho ul {
    gap: 10px;
  }
  .derecho ul li {
    border-radius: 3px;
    padding: px;
  }
  .derecho ul li a {
    font-size: 10px;
  }
  .n1 {
    padding: 5px;
  }
  .n2 {
    padding: 5px;
  }
  .n3 {
    padding: 5px;
  }
  .bi {
    width: 10 px;
    height: 10px;
  }
}
/*
@media (max-width:480px) {

    .grillas {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .navegador{
        display: flex;
        flex-direction: column;
    }
}*/
.navegador {
  padding: 10px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "izquierdo central central central derecho";
  align-items: center;
}

/*
.navegador ul{
    list-style-type: none;
    color: #091353;
}.navegador ul li a{
    text-decoration: none;
    font-size: 24px;
}
*/
.izquierdo {
  height: 100%;
  padding: 10px;
  align-content: center;
  margin-top: 15px;
}

/*
.izquierdo ul li{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}*/
.izquierdo ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}

.izquierdo ul li {
  border: 3px solid #091353;
  box-shadow: 2px 2px #091353;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.izquierdo ul li:hover {
  border: 3px solid #B2F9FC;
}

.izquierdo ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #091353;
  transition: 0.5s;
}

.izquierdo ul li a:hover {
  color: #B2F9FC;
}

.central ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.central ul li {
  border: 3px solid #091353;
  box-shadow: 2px 2px #091353;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.central ul li:hover {
  border: 3px solid #B2F9FC;
}

.central ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #091353;
  transition: 0.5s;
}

.central ul li a:hover {
  color: #B2F9FC;
}

.derecho ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.derecho ul li {
  border: 3px solid #091353;
  box-shadow: 2px 2px #091353;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.derecho ul li:hover {
  border: 3px solid #B2F9FC;
}

.derecho ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #091353;
  transition: 0.5s;
}

.derecho ul li a:hover {
  color: #B2F9FC;
}

.n1 {
  grid-area: izquierdo;
  padding: 15px;
}

.n2 {
  grid-area: central;
  padding: 15px;
}

.n3 {
  grid-area: derecho;
  padding: 15px;
}

/*
.menu{
    padding: 12px;
    width: 100%;
    height: 50%;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.menu ul li a{
    text-decoration: none;
    color: #091353;
}*/
/*
.logo{
    padding:1px;
    height: 0px;
}

.logo ul{
    display: inline-block;

    text-align: left;

}

.logo ul li{
    display: inline-block;
    border:  solid 3px #091353;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    list-style-type: none;
}

.logo ul li a{
    text-decoration: none;
    color: #091353;
    padding: 10px;
    margin: 10px;

}

.menucentral{
    width: 35%;
}

.menucentral ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menucentral ul li{       
    list-style-type: none;
    border:  solid 3px #091353;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    transition: .4s;
}

.menucentral ul li:hover{
    border: solid 3px #D5D5D5;
}*/
/*
.menuderecho{
    width: 15%;
}*/
/*
.menuderecho ul{
    text-align: right;
    top: 30px;
  }*/
/*
.menuderecho ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 15px;
}

.menuderecho ul li{
    display: inline-block;
    border:  solid 3px #091353;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    transition: .4s;
}

.menuderecho ul li:hover{
    border: solid 3px #D5D5D5;
}*/
/* MAIN */
/* FLEXBOX */

/*# sourceMappingURL=style.css.map */
